.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2em;
    color: var(--font-color);
}

/* form */
.form_container {
    background: var(--main-color-gradient);
    text-align: left;
    border-radius: 2.5rem;
    padding: 2em;
    width: 50%;
    border: 2px solid black;
}

form input {
    height: 30px;
    margin: 7px 0;
    border-radius: 7px;
    font-size: 15px;
    padding: 8px;
    border: none;
    width: calc(100% - 16px); /* Adjusted width */
}

button,
#store_button,
#clean_button,
#clear_button,
form textarea {
    margin: 7px 0;
    border-radius: 7px;
    font-size: 15px;
    color: var(--font-color);
    padding: 8px;
    border: none;
    width: calc(100% - 16px);
    font-weight: bold;
}

form textarea {
    color: black;
    font-weight: normal;
}

#clean_button,
#clear_button,
#store_button {
    background: #ddd5fc;
    width: 100%;
}

#clean_button:hover,
#clear_button:hover,
#store_button:hover {
    border: 2px solid #ddd5fc;
    background: #8d77ce;
    color: #ddd5fc;
}


@media screen and (max-width: 480px) {
    .form_container {
        width: calc(100% - 4em);
    }
}