:root {
    --main-color: #897acc;
    --main-color-gradient: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    --bg-color: #f8f5f8;
    --font-color: #2c6d9d;
    --font-color-light: #ece3f8;
}

html {
    font-family: Monaco, monospace;
}

body {
    background: var(--bg-color);
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    background: var(--main-color-gradient);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 5vh;
}

ul {
    list-style: none;
}

.nav_list {
    color: var(--font-color-light);
    display: flex;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.nav_item a {
    font-size: 15px;
    color: white;
}

#nav_about {
    margin-left: 1.5em;
}

.nav_item a:hover {
    color: var(--font-color);
}

#nav_inventory {
    color: var(--font-color);
    font-size: 25px;
}

#nav_inventory:hover {
    color: var(--font-color-light);
}

/* Main Page */

.inventory_container {
    padding: 2em;
    overflow:auto;
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2em;
    color: var(--font-color);
}

/* form */
.form_container {
    background: var(--main-color-gradient);
    text-align: left;
    border-radius: 2.5rem;
    padding: 2em;
    width: 50%;
    border: 2px solid black;
}

form input {
    height: 30px;
    margin: 7px 0;
    border-radius: 7px;
    font-size: 15px;
    padding: 8px;
    border: none;
    width: calc(100% - 16px); /* Adjusted width */
}

button,
#store_button,
#clean_button,
#clear_button,
form textarea {
    margin: 7px 0;
    border-radius: 7px;
    font-size: 15px;
    color: var(--font-color);
    padding: 8px;
    border: none;
    width: calc(100% - 16px);
    font-weight: bold;
}

form textarea {
    color: black;
    font-weight: normal;
}

#clean_button,
#clear_button,
#store_button {
    background: #d5d5d5;
    width: 100%;
}

#clean_button:hover,
#clear_button:hover,
#store_button:hover {
    border: 2px solid black;
}

/* Items */

#cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    border-radius: 2em;
    background: var(--main-color-gradient);
    border: 2px solid black;
    box-sizing: border-box;
    height: auto;
    padding: 2em;
}

.card {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1em;
    padding-bottom: 1em;
    color: var(--font-color);
    text-align: center;
    overflow: hidden;
    opacity: 1;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 black;
}

.card_content {
    text-align: left;
    padding: 1em;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 1em 1em 0 0;
}

.card_content h2 {
    margin: 0;
}

.card_content p {
    margin: 0.5em 0;
}


/* About Page */
.about_container {
    padding: 2em;
    overflow:auto;
    color: var(--font-color);
}

.about_container h1 {
    display: inline;
}

.about_container img {
    width: 35%;
    height: auto;
    border-radius: 2.5rem;
}

.me {
    float: left;
    margin: 0 1em 1em 0;
}

.inventory {
    float: right;
    margin: 0 0 1em 1em;
}

@media screen and (max-width: 480px) {
    /* About Page */
    img {
        width: 100%;
    }

    .about_container h1 {
        display: block;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        height: auto;
    }

    .nav_list {
        flex-direction: column;
        align-items: center;
    }

    .nav_item {
        margin: 0.5rem 0;
    }

    #nav_about {
        margin-left: 0;
    }

    .nav_brand {
        display: none;
    }

    /* Main Page */
    .form_container {
        width: 100%;
    }

    #cards_container {
        grid-template-columns: repeat(1, 1fr);
    }
}