:root {
    --main-color: #9384D1;
}

html {
    font-family: Monaco, monospace;
}

body {
    background: #f5f2fa;
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 5vh;
}

.nav_list {
    color: white;
    display: flex;
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.nav_item a {
    font-size: 15px;
    color: white;
}

#nav_about {
    margin-left: 1.5em;
}

.nav_item a:hover {
    color: #362b56;
}

#nav_inventory {
    font-size: 25px;
}

#nav_inventory:hover {
    color: #ede2fc;
}

/* Main Page */

.inventory_container {
    padding: 2em;
    overflow:auto;
    color: #362b56;
}

.input_container {
    padding: 2em;
    overflow:auto;
    color: #362b56;
    text-align: center;
}

.form_container {
    background: var(--main-color);
    text-align: left;
    overflow:auto;
    color: #362b56;
    border-radius: 2.5rem;
    padding: 2em;
}

form label {
    display: block;
}








/* About Page */
.about_container {
    padding: 2em;
    overflow:auto;
    color: #362b56;
}

.about_container h1 {
    display: inline;
}

img {
    width: 35%;
    height: auto;
    border-radius: 2.5rem;
}

.me {
    float: left;
    margin: 0 1em 1em 0;
}

.inventory {
    float: right;
    margin: 0 0 1em 1em;
}

@media screen and (max-width: 480px) {
    img {
        width: 100%;
    }

    .about_container h1 {
        display: block;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        height: auto;
    }

    .nav_list {
        flex-direction: column;
        align-items: center;
    }

    .nav_item {
        margin: 0.5rem 0;
    }

    #nav_about {
        margin-left: 0;
    }

    .nav_brand {
        display: none;
    }
}